Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
mkinstalldirs
POTFILES
.deps
.*.swp
*.o
corn/corn
stamp-h1
*.gmo
*~
config.rpath
*-glue.h
core
core.*
m4
